{% load static %}
<head>
    <link rel = "stylesheet" href = "{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Gugi&display=swap&subset=korean" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Gaegu&display=swap&subset=korean" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo&display=swap&subset=korean" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Song+Myung&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cute+Font&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hi+Melody&display=swap" rel="stylesheet">
</head>

<body> 
    <h1 class="text-warning"><strong>JGB의 Blog입니다!</strong></h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href = "{% url 'accounts:signup' %}">Signup</a>
            <a class="navbar-brand" href = "{% url 'login' %}" >Login</a>
            <a class="navbar-brand" href="{% url 'new' %}">New</a>
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            {% if user.is_active %}
            <a class="navbar-brand" href = "{% url 'logout' %}" >Logout</a>
            {% endif %}
    </nav>

    {% if user.is_active %}
        <p class="alert alert-dark" role="alert">{{ user.username }}님 반갑습니다!</p>
        

    {% else %}
        <p class="alert alert-dark" role="alert">당신은 로그인 하지 않았습니다! 로그인 해주세요!</p>

    {% endif %}


    <img src = {% static 'img/블로그.jpg'%} height = "300px" alt="" class="img-thumbnail" style="margin-left: auto; margin-right: auto; display: block;"/>
    

    {% block content %}
    {% endblock %}
</body>

