{% extends "blog/base.html" %}

{% block content %}

    <h1> 상세 페이지에욥!! </h1>
    <div>
        <h2>{{post.title}}</h2>
        <p>{{post.created_date}}</p>
        <p>{{post.text}}</p>

        <a href = "{% url 'edit' post.id %}">수정하기!</a>
        <a href = "{% url 'delete' post.id %}">삭제하기!</a>
    </div>


    <hr>

    <p id = dg1>댓글!! {{post.comments.count}}개</p>

    {% for comment in post.comments.all %}
    <div>
        <p class="bg-danger">{{comment.created_date}}</p>
        <p class="bg-warning"><strong>{{comment.nickname}}</strong></p>
        <p class="bg-danger">{{comment.text|linebreaks}}</p>
        <a href="{% url 'post_like' comment.id %}">좋아요!</a>
        <p> {{ comment.likes.count }} </p>

        <a href = "{% url 'comment_delete' post.id  %}" class="btn btn-warning" onclick="return confirm('정말로 삭제하시겠습니까?')">댓글 삭제</a>
        <br>
        <br>
        <br>

    </div>
    {% empty %}
    <p id = dg2>댓글이 존재하지 않습니다!!!</p>
    {% endfor %}

    <div class="form-group">
        <h4>댓글 작성</h4>
        <form method="POST" action="{% url 'add_comment' post.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button type="submit" id = "button1" class="btn btn-primary">작성하기!!</button>
        </form>

    </div>

{% endblock %}